<h1>Tique</h1>
<% if !logged_in? %>
    <a class="btn btn-primary" id="login-btn" href="/login">Login</a>
    <a class="btn btn-success" id="signup-btn" href="/signup">Signup</a>
<% else %>
    Click 'View Instructors' to give feedback to an instructor.
<% end %>