// Place all the styles related to the Codes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.glyphicon-remove {
    color: #BD2C00;
}

span.glyphicon-remove:hover {
    background-color: #FFF;
}

#add_ta_input, form > div.actions {
    margin-top: 5px;
    margin-bottom: 5px;
}