// Place all the styles related to the Critiques controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.positive_comment {
    background-color: #eeedff;
}

.negative_comment {
    background-color: #fbeaff;
}

.comment {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 5px;
    border-radius: 5px;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFF;
    text-align:center;
    padding-top: 7px;
    padding-bottom: 7px;
}

#positive-submit-btn {
    width: 155px;
    background-color: #ACA9E8;
    border-color: #4036C5;
    color: #4036C5;
}

#negative-submit-btn {
    width: 154px;
    background-color: #ED94FE;
    border-color: #BC01DD;
    color: #BC01DD;
}

.feedback-list {
    margin-bottom: 114px;
}

.inline {
    display: inline;
}

.voteArrow {
    color: blue;
    padding: 4px;
    font-weight:800;
}

.voteArrow:hover, .voteArrow:active {
    color: blue;
    font-weight: 800;
}

.innerNav {
    text-align: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    color: grey
}

.hoverUnderline:hover {
    text-decoration: underline;
}

.sortingNav {
    text-align: center;
    background-color: orange;
}