// Place all the styles related to the Critiques controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.positive_comment {
    //box-shadow: 0 4px 8px 0 #d1cff9;
    background-color: #eeedff;
    //background-color: #FCFCFC;
}

.negative_comment {
    //box-shadow: 0 4px 8px 0 #ecbef7;
    background-color: #fbeaff;
    //background-color: #FCFCFC;
}

.comment {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
    min-height: 63px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.1);
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFF;
    text-align:center;
    padding-top: 7px;
    padding-bottom: 7px;
}

#positive-submit-btn {
    width: 155px;
    background-color:white;
    border-color: #4036C5;
    color: #4036C5;
    border-radius: 5px;
    border: 3px solid;
}

#negative-submit-btn {
    width: 154px;
    background-color: white;
    border-color: #BC01DD;
    color: #BC01DD;
    border-radius: 5px;
    border: 3px solid;
}

.feedback-list {
    margin-bottom: 114px;
}

.inline {
    display: inline;
}


.innerNav {
    text-align: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    color: grey
}

.hoverUnderline:hover {
    text-decoration: underline;
}

.sortingNav {
    text-align: center;
    background-color: orange;
}

.arrows {
    z-index:10;
    float: right;
    padding-right:5px;
    text-align:center;
    top: 0px;
    right: 0px;
}

.comment-text {
    display: inline-block;
    width: 90%;
}

.upArrow {
    margin-bottom:-4px;
}

.votes_number {
    margin-bottom:-4px;
}